body {
	margin: 0;
	font-family: Lobster;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	background: url("https://source.unsplash.com/featured/?beach") center,
				linear-gradient(to left, #8360c3, #2ebf91);
	background-size: cover;
	position: relative;
	z-index: 1;
}
.container {
	z-index: 2;
	text-align: center;
}
.picture {
	height: 150px;
	width: 150px;
	background: url("../img/pp.jpg") center;
	background-size: cover;
	display: inline-block;
	border-radius: 100%;
	border: 5px solid #fff;
	box-shadow: 1px 1px #336;
}
.name {
	color: #fff;
	font-size: 50px;
	text-shadow: 1px 1px #336;
	margin-top: 32px;
}
.job-title {
	color: #fff;
	font-size: 30px;
	text-shadow: 1px 1px #336;
	margin-bottom: 32px;
}
.links > a,
.links > a:visited,
.links > a:focus,
.links > a:hover,
.links > a:active {
	color: #fff;
	text-decoration: none;
	margin: 0 2px;
	font-size: 25px;
	text-shadow: 1px 1px 1px #336;
}