html, body {
    margin: 0;
    padding: 0;
    background-color: #B4D5AE;
    color: #284323;
    font-family: Tahoma, sans-serif;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1, h2 {
    margin: 0;
}

h1 {
    font-weight: bold;
}
h2 {
    margin-top: 4px;
    font-weight: normal;
    font-size: 1em;
}

main {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 4px solid #284323;
    padding: 32px;
    ul {
        margin: 32px 0 0;
        display: flex;
        gap: 24px;
        padding: 0;
        li {
            list-style: none;
            a {
                color: #284323;
                text-decoration: none;
                font-weight: bold;
            }
        }
    }
}
